<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customerMapper">

	<resultMap id="customerResultSet" type="customer">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="UPLOADER" property="uploader" />
		<result column="SELL_STATUS" property="sellStatus" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRICE" property="price" />
		<result column="DESCRIPTION" property="description" />
		<result column="OPTION" property="option" />
		<result column="P_TAG" property="pTag" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="SELLER_NAME" property="sellerName" />
		<result column="SELLER_BRN" property="sellerBrn" />
		<result column="SELLER_PHONE" property="sellerPhone" />
		<result column="SELLER_LOCATION" property="sellerLocation" />
		<result column="SELLER_INTRO" property="sellerIntro" />
		<result column="SELLER_IMAGEPATH" property="sellerImagePath" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
	</resultMap>
	
	<resultMap id="reviewResultSet" type="review">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="REF_PNO" property="refPno" />
		<result column="REVIEW_WRITER" property="reviewWriter" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="SCORE" property="score" />
		<result column="USER_ID" property="userId" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="USER_NO" property="userNo" />
	</resultMap>
	
	<resultMap id="cartResultSet" type="cart">
		<result column="CART_NO" property="cartNo" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="USER_NO" property="userNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="OPTION" property="option" />
		<result column="PRICE" property="price" />
		<result column="QUANTITY" property="quantity" />
		<result column="SELLER" property="seller"/>
		<result column="SELLER_NAME" property="sellerName"/>
		<result column="SELLER_IMAGEPATH" property="sellerImage"/>
		<result column="CHANGE_NAME" property="changeName" />
		<result column="CALCULATE_AMOUNT" property="calculateAmount" />
	</resultMap>

	<select id="selectSaladList" resultMap="customerResultSet">
		SELECT
				PRODUCT_NO,
				UPLOADER,
				SELL_STATUS,
				PRODUCT_NAME,
				PRICE,
				"DESCRIPTION",
				"OPTION",
				"P_TAG",
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') as "CREATE_DATE",
				TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD HH24:MI:SS') as "MODIFY_DATE",
                SELLER_NAME,
                CHANGE_NAME
		  FROM
				"PRODUCT" P
          JOIN SELLER ON (UPLOADER = USER_NO)
          LEFT JOIN ATTACHMENT USING (PRODUCT_NO)
		 WHERE
				P.STATUS = 'Y'
		   AND
		   		SELL_STATUS = '판매중'
      ORDER BY
                PRODUCT_NO DESC
	</select>

	<select id="selectSaladDetailView" parameterType="_int" resultMap="customerResultSet">
		SELECT
				PRODUCT_NO,
				UPLOADER,
				SELL_STATUS,
				PRODUCT_NAME,
				PRICE,
				"DESCRIPTION",
				"OPTION",
				"P_TAG",
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') as "CREATE_DATE",
				TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD HH24:MI:SS') as "MODIFY_DATE",
                SELLER_NAME,
                SELLER_BRN,
                SELLER_PHONE,
                SELLER_LOCATION,
                SELLER_INTRO,
                SELLER_IMAGEPATH,
                ORIGIN_NAME,
                CHANGE_NAME
		  FROM
				PRODUCT
          JOIN SELLER ON (UPLOADER = USER_NO)
          LEFT JOIN ATTACHMENT USING (PRODUCT_NO)
		 WHERE
				PRODUCT_NO = #{productNo}
	</select>
	
	<select id="selectProductReviewList" parameterType="_int" resultMap="reviewResultSet">
		SELECT
				 REVIEW_NO
                ,USER_ID
				,REVIEW_CONTENT
                ,SCORE
				,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as "CREATE_DATE"
				,CHANGE_NAME
		  FROM
                REVIEW R
          JOIN MEMBER ON (REVIEW_WRITER = USER_NO)
          JOIN ATTACHMENT ON (REVIEW_NO = REF_RNO)
		 WHERE
		 		R.STATUS = 'Y'
		   AND
		   		REF_PNO = #{productNo}
		  ORDER
		  		BY REVIEW_NO DESC
	</select>
	
	<select id="selectMyReviewList" parameterType="_int" resultMap="reviewResultSet">
		SELECT
				 REVIEW_NO
				,REF_PNO
                ,USER_ID
				,REVIEW_CONTENT
                ,SCORE
				,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as "CREATE_DATE"
				,CHANGE_NAME
		  FROM
                REVIEW R
          JOIN MEMBER ON (REVIEW_WRITER = USER_NO)
          JOIN ATTACHMENT ON (REVIEW_NO = REF_RNO)
		 WHERE
		 		R.STATUS = 'Y'
		   AND
		   		REVIEW_WRITER = #{userNo}
		  ORDER
		  		BY REVIEW_NO DESC
	</select>
	
	<update id="deleteReview">
		UPDATE
				REVIEW
		   SET
		   		STATUS = 'N'
		 WHERE
		 		REVIEW_NO = #{reviewNo}
	</update>
	
	<select id="selectReviewForUpdate" parameterType="_int" resultMap="reviewResultSet">
		SELECT
				 REVIEW_NO
                ,USER_ID
				,REVIEW_CONTENT
                ,SCORE
				,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as "CREATE_DATE"
				,CHANGE_NAME
				,ORIGIN_NAME
		  FROM
                REVIEW R
          JOIN MEMBER ON (REVIEW_WRITER = USER_NO)
          JOIN ATTACHMENT ON (REVIEW_NO = REF_RNO)
		 WHERE
		 		R.STATUS = 'Y'
		   AND
		   		REVIEW_NO = #{reviewNo}
	</select>
 
	<update id="updateReview" parameterType="review">
		UPDATE 
		        REVIEW 
		   SET
			    REVIEW_CONTENT = #{reviewContent}
		       ,MODIFY_DATE = SYSDATE
               ,SCORE = #{score}
		 WHERE
		        REVIEW_NO = #{reviewNo}
	</update>
	
	<update id="updateAttachment" parameterType="attachment">
		UPDATE 
		        ATTACHMENT 
		   SET
		        ORIGIN_NAME = #{originName}
			   ,CHANGE_NAME = #{changeName}
		       ,UPLOAD_DATE = SYSDATE
		 WHERE
		        REF_RNO = #{refRno}
	</update>
	
	<insert id="uploadReview" parameterType="review">
		INSERT INTO REVIEW(
						REVIEW_NO,
						REF_PNO,
						REVIEW_WRITER,
						REVIEW_CONTENT,
						SCORE
						)
		VALUES
			(			
						SEQ_RVNO.NEXTVAL,
						#{refPno},
						#{reviewWriter},
						#{reviewContent},
						#{score}
			)			
	</insert>
 
 	<insert id="uploadAttachment" parameterType="attachment">
		INSERT INTO ATTACHMENT(
						FILE_NO,
						ORIGIN_NAME,
						CHANGE_NAME,
						REF_RNO
						)
		VALUES
			(			
						SEQ_ATNO.NEXTVAL,
						#{originName},
						#{changeName},
						SEQ_RVNO.CURRVAL
			)			
	</insert>
	
	<select id="selectMyCart" parameterType="_int" resultMap="cartResultSet">
		SELECT 
				C.CART_NO,
				C.PRODUCT_NO,
				C.PRODUCT_NAME,
				C."OPTION",
				C.PRICE,
				C.QUANTITY,
				S.SELLER_NAME,
				S.SELLER_IMAGEPATH,
				S.USER_NO,
                A.CHANGE_NAME
		FROM CART C
		JOIN PRODUCT P ON (C.PRODUCT_NO = P.PRODUCT_NO)
        JOIN ATTACHMENT A ON (C.PRODUCT_NO = A.PRODUCT_NO)
		JOIN SELLER S ON (P.UPLOADER = S.USER_NO)
		WHERE C.USER_NO = #{userNo}
		ORDER BY CART_NO DESC
	</select>

	<insert id="addToCart" parameterType="cart">
		INSERT INTO CART
						(
						CART_NO,
						PRODUCT_NO,
						USER_NO,
						PRODUCT_NAME,
						"OPTION",
                        PRICE,
                        QUANTITY
						)
		VALUES
						(			
						SEQ_CTNO.NEXTVAL, 
						#{productNo},
						#{userNo},
						#{productName},
						#{option},
                        #{price},
                        #{quantity}
						)	
	</insert>
	
	<delete id="deleteCart" parameterType="_int">
		DELETE
		
		  FROM 
		  		CART
		 WHERE 
		 		CART_NO = #{cartNo}
	</delete>
	
	<select id="selectTop3SellerList" resultMap="cartResultSet">
		SELECT SELLER, CALCULATE_AMOUNT, PRODUCT_NO, PRODUCT_NAME, SELLER_NAME, CHANGE_NAME
		FROM(SELECT O.SELLER
		            , SUM(ORDER_PRICE * QUANTITY) "PAYMENT_AMOUNT"
		            , SUM(FLOOR(ORDER_PRICE * QUANTITY * 0.05)) "매출연동 수수료"
		            , SUM(ORDER_PRICE * QUANTITY - FLOOR(ORDER_PRICE * QUANTITY * 0.05)) "CALCULATE_AMOUNT"  
			    FROM "ORDER" O
			    WHERE O.STATUS != '결제취소'
			    GROUP BY SELLER
			    ORDER BY PAYMENT_AMOUNT DESC)
		LEFT JOIN "PRODUCT" ON (SELLER = UPLOADER)
		JOIN SELLER ON (UPLOADER = USER_NO)
		LEFT JOIN ATTACHMENT USING (PRODUCT_NO)
		WHERE ROWNUM &lt;=3
	</select>
	
</mapper>
