<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">

	<resultMap id="attachmentResultSet" type="attachment">
		<result column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="USER_NO" property="userNo" />
		<result column="MAIN_FILE_NO" property="mainFileNo" />
	</resultMap>
	
	<select id="selectMainCount" resultType="_int">
		SELECT COUNT(*)
		  FROM ATTACHMENT
		 WHERE MAIN_FILE_NO IS NOT NULL
	</select>

	<select id="selectMain" resultMap="attachmentResultSet">
		SELECT
				FILE_NO
				, ORIGIN_NAME
				, CHANGE_NAME
				, TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') AS "UPLOAD_DATE"
				, MAIN_FILE_NO
		 FROM
				ATTACHMENT
		WHERE
				MAIN_FILE_NO IS NOT NULL	
		ORDER
			 BY
			 	FILE_NO DESC
	</select>
	
	<insert id="insertPic" parameterType="attachment">
		INSERT INTO ATTACHMENT(
								FILE_NO
								, ORIGIN_NAME
								, CHANGE_NAME
								, UPLOAD_DATE
								, MAIN_FILE_NO
								)
								VALUES
								(
								SEQ_ATNO.NEXTVAL
								, #{originName}
								, #{changeName}
								, SYSDATE
								, SEQ_MPNO.NEXTVAL
								)
	</insert>
	
	<delete id="deletePic">
		DELETE FROM ATTACHMENT
		WHERE CHANGE_NAME = #{changeName}
	</delete>
	
	
</mapper>
