	
	div{
	    /* border: 1px solid green; */
	    box-sizing: border-box;
	}
	
	/* 헤더 아래 영역 전체 */
	.outer{
	    width: 1200px;
	    margin: auto;
	    /* height: auto; */
	}
	
	/* 중간~우측 내용 영역 */
	.content{
	    width: 1000px;
	    height: 100%;
		float: left;
	    padding: 50px 50px 50px 50px; /* 시계 방향으로 각각 지정 */
	}
	
	/* footer에 float 적용되지 않도록 해제 */
	.footer{
	    clear: both;
	}



	#wordsOfGuidance {
	    padding-top: 200px;
	    padding-bottom: 50px;
	    text-align: center;
	}
	
	#content2 {
        margin:auto;
        width: 360px;
    }
	
	.box {
        display: block;
        width: 100;
        height: 51px;
        border: solid 1px #dadada;
        padding: 10px 14px 10px 14px;
        position: relative;
    }
        
    .int {
        display: block;
        position: relative;
        width: 100%;
        height: 29px;
        border: none;
        font-size: 13px;
    }
  	
  	#btnJoin {
        width: 100px;
        padding: 14px 13px; 
        border-radius: 7px;
        border: 0;
        color: #fff;
        background-color: rgb(255, 163, 63);
        font-size: 15px;
        font-weight: 900;
    }