.wrap{
    width: 1200px;
}
#menubar{
    float: left;
}
div{
    /* border: 1px solid black; */
}
.content{
    width: 70%;
    margin-left: 350px;
    padding-top: 100px;
}
.content_1{
    height: 100px;
}
.content_1>div{
    float: left;
}
.title{
    width: 80%;
}
.title>h2{
    font-weight: bolder;
    padding-left: 5%;
}

.pagingArea{
    margin: auto;
}
.pagingDiv{
    width: fit-content;
    margin: auto;
}

/* 은영 */
.greenBtn{
    background-color: rgb(182, 238, 86);
}

.orangeBtn{
    background-color: rgb(255, 163, 63);
    color: white;
}

.grayBtn{
    background-color: gray;
    color: white;
}

.listView td[class=nTitle]:hover{
    color: rgb(182, 238, 86);
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
}





















