.wrap{
    width: 1200px;
    height: auto;
    margin: auto;
}
#menubar{
    float: left;
}
div{
    /* border: 1px solid black; */
}
.content{
    width: 70%;
    margin-left: 300px;
    padding-top: 100px;
}
.content_1{
    height: 100px;
}
.content_1>div{
    float: left;
}
.title{
    width: 80%;
}
.title>h2{
    font-weight: bolder;
    padding-left: 5%;
}
.btn_area{
    width: 20%;
    margin-top: 40px;
}
.btn_area>.btn-outline-primary{
    /* background-color: rgb(255, 163, 63); */
    color: rgb(255, 163, 63);
    border: 2px solid rgb(255, 163, 63);
    font-weight: bolder;
}
.btn_area>.btn-outline-primary:hover{
    background-color: rgb(255, 163, 63);
    color: white;
    border: 2px solid rgb(255, 163, 63);
    font-weight: bolder;
}
.btn_area>.btn-outline-danger{
    font-weight: bolder;
    border: 2px solid;
}
.table_wrap{
    width: 800px;
}
.table {
    text-align: center;
}

.pagingArea{
    margin: auto;
}
.pagingDiv{
    width: fit-content;
    margin: auto;
}
.pagingArea ul{
    margin: auto;
}
.pagingArea ul li{
    font-size: 15px;
}






















