.wrap{
    width: 1200px;
    height: auto;
    margin: auto;
}
div{
    /* border: 1px solid black; */
}
.content1{
    width: 70%;
    margin: auto;
}
.content2{
    width: 70%;
    margin: auto;
}
.content1_1{
    width: 100%;
    height: 150px;
}
.content1_1>div{
    float: left;
}
.title{
    font-size: 26px;
    font-weight: bolder;
    width: 60%;
    margin-top: 110px;
    margin-left: 30px;
}
.writer{
    font-size: 16px;
    width: 17%;
    margin-top: 130px;
    margin-left: 160px;
    text-align: center;
}
.imgDiv>div{
    float: left;
}
.salPic{
    width: 350px;
    height: 350px;
    margin-left: 250px;
}
.salImg{
    width: 100%;
    height: 100%;
}
.likes{
    width: 40px;
    height: 70px;
    margin-left: 160px;
    font-weight: bolder;
    color: rgb(182, 238, 86);
    text-align: center;
}
.like{
    width: 35px;
    height: 35px;
}
.content1_3{
    width: 100%;
}
.content1_3>div{
    float: left;
}
.content_header{
    width: 20%;
    font-weight: bolder;
    margin-left: 30px;
    padding-left: 50px;
    line-height: 35px;
}
.content_input{
    width: 70%;
}
.contents1{
    line-height: 35px;
    padding-left: 30px;
}
.contents2>p{
    padding-top: 5px;
    line-height: 28px;
    padding-left: 30px;
}
.createDate{
    width: 12%;
    margin-top: 35px;
    margin-left: 730px;
}
.btnArea{
    width: 100%;
}
.btnAreaDiv{
    width: fit-content;
    margin: auto;
}
.btnArea>button{
    margin: auto;
}
.btnArea .btn-outline-secondary{
    color: grey;
    border: 2px solid grey;
    font-weight: bolder;
}
.btnArea .btn-outline-danger{
    border: 2px solid red;
    font-weight: bolder;
}
.btnArea .btn-outline-secondary:hover{
    color: black;
    border: 2px solid black;
    font-weight: bolder;
    background-color: white;
}
.btnArea .btn-outline-warning{
    color: rgb(255, 163, 63);
    border: 2px solid rgb(255, 163, 63);
    font-weight: bolder;
}
.btnArea .btn-outline-warning:hover{
    background-color: rgb(255, 163, 63);
    color: white;
    border: 2px solid rgb(255, 163, 63);
    font-weight: bolder;
}

.content2{
    width: 70%;
    margin: auto;
}
.content2_1{
    width: 600px;
    height: 200px;
    margin: auto;
}
.content2_1>input{
    width: 450px;
    height: 60px;
    margin-top: 80px;
    margin-left: 60px;
}
.content2_1>.btn-warning{
    width: 70px;
    height: 63px;
    background-color: rgb(255, 163, 63);
    color: white;
    border: 2px solid rgb(255, 163, 63);
}
.content2_1>.btn-warning:hover{
    background-color: white;
    color: rgb(255, 163, 63);
    border: 2px solid rgb(255, 163, 63);
}
.content2_2{
    width: 700px;
    margin: auto;
}
.content2_2>table{
    text-align: center;
}

.content2_2 .btn-outline-secondary{
    color: grey;
    border: 2px solid grey;
    font-weight: bolder;
    height: 37px;
}
.content2_2 .btn-outline-secondary:hover{
    color: black;
    border: 2px solid black;
    font-weight: bolder;
    background-color: white;
}








