div{
    box-sizing: border-box;
}
.orderDetail_outer{
    width: 1200px;
    margin: auto;  
}
.content{
    width: 1000px;
    margin-left: 200px;
    padding: 25px;
}
.order-btn{
    margin: 10px;
    width: 210px;
    height: 43px;
    border-radius: 10px;
    font-weight: bold;  
    font-size: 19px;  
    color: white;
    border-style: none;
}
.list{
    background:rgb(255, 163, 63);
    margin-left: 730px;
    margin-bottom: 15px;
}
.orderList table{
    margin-top: 20px;
    width: 100%;   
}
td{
    padding: 6px;
}
.delivery, .review{
    background:rgb(255, 163, 63);
}
.question{
    background: rgb(182, 238, 86);
}
label{
    margin-left: 350px;
}
.line{
    border: 0;
    height: 2px;
    background: #ccc;
    margin-top: 10px !important;
}
h4{
    margin-left:20px;
    font-weight: bold !important;
}
#dv{
    margin: auto;
    width: 100%;		
}
th{
    padding: 6px;
    width: 17%;
}
.detailList td{
    padding: 10px;
}
.content>img{
    width: 100%;
    border: 2px solid #ccc;
}


.star {
position: relative;
font-size: 2rem;
color: #ddd;
}

.star input {
width: 100%;
height: 100%;
position: absolute;
left: 0;
opacity: 0;
cursor: pointer;
}

.star span {
width: 0;
position: absolute; 
left: 0;
color: rgb(255, 200, 61);
overflow: hidden;
pointer-events: none;
}