div{   
    box-sizing: border-box;
}
.detail_outer{
    width:600px;
    height:770px;
    padding:15px;
    border: 3px solid rgb(255, 163, 63);
    border-radius: 10px;
    margin: auto;
}
table{
    width: 100%;
    border-spacing: 0;    
}
.detail_tb{    
    border-top-style: solid;    
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}
.detail_tb td{
    padding: 10px;
}
h3{
    margin: 10px;
    font-weight: bold;    
}
.dv_tb th{
    border-right-color: #ccc;
    border-right-style: solid;   
    text-align: left;
}
.dv_tb{
    font-size: 14px;     
}
.dv_tb td{
    padding-left: 10px;    
}
.pay_tb td{
    padding: 5px;
}
.bottom{
    border-bottom-style: solid;
}



