.outer{
    margin-bottom: 50px;
}
.list-area>thead>tr{
    text-align: center;
    border: 1px solid black;
}
.list-area>tbody>tr{
    text-align: center;
    border: 1px solid black;
}
.list-area{
    margin-left: 350px;
}
#pagingArea{
    margin-top: 10px;
    margin-left: 550px;
}
#pagingArea a{
    color: black;
}