@charset "UTF-8";

/* 좌측 메뉴바 */
.menu_bar{
    width: 200px;
    height: 100%;
	float: left;
    background-color: gray;
    color: white;
}
/* 메뉴바 상단 프로필 영역 */
.menu_bar .profile{
    width: 100%;
    height: 150px;
}
.profile .profile_photo{
	position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 5px;
}
.profile .profile_name{
    position: relative;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 5px; 
}
/* 메뉴바 하단 메뉴 영역 */
.menu_bar .menu{
    width: 100%;
    height: 850px;
    padding-left: 2px;
    padding-right: 2px;
}
.menu_group{
    list-style: none;
    font-size: 20px;
    display: block;
}
.menu_item{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu a:hover{
    text-decoration: none;
    color: rgb(182, 238, 86);
    font-size: 23px;
    font-weight: bolder;
}
.menu .current{
    color: rgb(182, 238, 86);
    font-size: 22px;
    font-weight: bolder;
    pointer-events: none;
}