#enrollForm>table{
    width: 900px;
    margin-left: 100px;
}
.cFrame{
    text-align: center;
    border: 0.1px solid black;
    background-color: rgb(182, 238, 86);
    width: 100px;
    margin-right: 10px;
    margin-left: 20px;
}
.outer{
    width: 1200px;
    margin: auto; 
}
